body {
  background: -webkit-linear-gradient(to right, rgba(1, 14, 5, 0.5), rgba(122, 3, 126, 0.5));
  background-image: url(../../assets/brand/black-violet.jpg);
  background-size: cover;
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

