.gradient-custom-3 {
  /* fallback for old browsers */
  background: #9a03a8;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(72, 5, 150, 0.5), rgba(122, 3, 126, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(72, 5, 150, 0.5), rgba(122, 3, 126, 0.5))
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #9a03a8;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(72, 5, 150, 0.5), rgba(122, 3, 126, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(72, 5, 150, 0.5), rgba(122, 3, 126, 0.5))
}